$primary-color: #805434;
$text-color: #ffff;
$hover-color: #d35400;
$second-color: #34495e;
$hover-menu-color: #f39c12;

$primary-font: 'Open Sans', sans-serif;
$heading-font: 'monica';
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;

    &:hover{
        text-decoration: none;
    }
}

h1 , h2 , h3 , h4 , h5 ,h6 {
    margin: 0;
    padding: 0;
}

@mixin transition-ease {
    transition: all 0.5s ease-in-out;
}

@mixin cubic {
    transition: all 1s cubic-bezier(0.9, 0.2 , 0.1, 0.2);
}

@mixin boxshadow {
    box-shadow: rgb(0 0 0 / 60%) 0px 10px 15px -10px ,
        rgb(0 0 0 / 60%) 0px 10px 15px -10px ;
}

@font-face {
    font-family: monica;
    src: url('../../fonts/saint.otf');
}